[Desktop Entry]
Categories=System
Exec=/opt/apps/spark-simple-remote-desktop-accessor/files/bin/simple-remote-desktop-accessor
Icon=/opt/apps/spark-simple-remote-desktop-accessor/entries/icons/hicolor/scalable/spark-simple-remote-desktop-accessor.svg
Name=rdp 远程桌面连接工具
StartupNotify=true
Terminal=false
Type=Application
