Package: spark-simple-remote-desktop-accessor
Version: 1.0beta1
Architecture: amd64
Maintainer: gfdgd xi<3025613752@qq.com>
Depends: libdtkcore5, libdtkwidget5, libdtkgui5, rdesktop
Description: 一个基于 dtk 制作的一个简易远程桌面连接软件
